# 6차시 : 고객정보 파일관리 및 검색

---

## 1. 고객정보 파일관리

### 1.1 디렉토리 변경

---

In [1]:
import os

#### 현재 디렉토리

In [2]:
os.getcwd()

'D:\\파이썬\\소스\\20180912\\6차시'

#### 디렉토리 변경

In [3]:
os.chdir('..')

In [4]:
현재디렉토리 = os.getcwd()
현재디렉토리

'D:\\파이썬\\소스\\20180912'

---

### 1.2 디렉토리 및 파일 검색

#### 디렉토리와 파일 검색

In [5]:
for 경로명, 디렉토리목록, 파일목록 in os.walk(현재디렉토리):
    for 파일명 in 파일목록:
        print(경로명 + '-' + 파일명)

D:\파이썬\소스\20180912-파이썬시작.bat
D:\파이썬\소스\20180912\10차시-10차시-고객정보 병합 및 파일 비교.ipynb
D:\파이썬\소스\20180912\10차시\.ipynb_checkpoints-10차시-고객정보 병합 및 파일 비교-checkpoint.ipynb
D:\파이썬\소스\20180912\데이터-고객기본정보.xlsx
D:\파이썬\소스\20180912\데이터-고객부가정보.xlsx
D:\파이썬\소스\20180912\데이터-고객정보_V1.xlsx
D:\파이썬\소스\20180912\데이터-고객정보_V2.xlsx
D:\파이썬\소스\20180912\데이터-고객정보.xlsx
D:\파이썬\소스\20180912\데이터-고객정보2.xlsx
D:\파이썬\소스\20180912\9차시-9차시-고객정보 컬럼 관리.ipynb
D:\파이썬\소스\20180912\9차시\.ipynb_checkpoints-9차시-고객정보 컬럼 관리-checkpoint.ipynb
D:\파이썬\소스\20180912\6차시-6차시-고객정보 파일관리 및 검색.ipynb
D:\파이썬\소스\20180912\6차시-고객정보_복사본.xlsx
D:\파이썬\소스\20180912\6차시\.ipynb_checkpoints-6차시-고객정보 파일관리 및 검색-checkpoint.ipynb
D:\파이썬\소스\20180912\8차시-8차시-고객정보 쉬트 분할 및 통합.ipynb
D:\파이썬\소스\20180912\8차시-고객정보_쉬트분할.xlsx
D:\파이썬\소스\20180912\8차시\.ipynb_checkpoints-8차시-고객정보 쉬트 분할 및 통합-checkpoint.ipynb
D:\파이썬\소스\20180912\8차시\.ipynb_checkpoints-9차시-고객정보 컬럼 관리-checkpoint.ipynb
D:\파이썬\소스\20180912\0차시-차시소개.ipynb
D:\파이썬\소스\20180912\0차시-프로그램순서.JPG
D:\파이썬\소스\20180912\0차시\.ipynb_checkpoints-차시소개-checkpoint.ipynb
D:\파이썬\소스\20180912\1차시-1차시-예금계산기-실습용.ipynb
D:\파이썬\소스\20180912\1차시-단리예금계산공식.JPG
D:\파이썬\소스\20180912\1차시-복리예금계산공식.JPG
D:\파이썬\소스\20180912\1차시\.ipynb_checkpoints-1차시-예금계산기-checkpoint.ipynb
D:\파이썬\소스\20180912\1차시\.ipynb_checkpoints-1차시-예금계산기-실습용-checkpoint.ipynb
D:\파이썬\소스\20180912\1차시\.ipynb_checkpoints-DTI계산기_Pandas소개-checkpoint.ipynb
D:\파이썬\소스\20180912\2차시-2차시-적금계산기-실습용.ipynb
D:\파이썬\소스\20180912\2차시-납입기준적금단리계산공식.JPG
D:\파이썬\소스\20180912\2차시-납입기준적금복리계산공식.JPG
D:\파이썬\소스\20180912\2차시-목표금액기준적금단리계산공식.JPG
D:\파이썬\소스\20180912\2차시-목표금액기준적금복리계산공식.JPG
D:\파이썬\소스\20180912\2차시-목표금액복리적금계산.txt
D:\파이썬\소스\20180912\2차시\.ipynb_checkpoints-2차시-적금계산기-checkpoint.ipynb
D:\파이썬\소스\20180912\2차시\.ipynb_checkpoints-2차시-적금계산기-실습용-checkpoint.ipynb
D:\파이썬\소스\20180912\2차시\.ipynb_checkpoints-취득세계산기-checkpoint.ipynb
D:\파이썬\소스\20180912\3차시-3차시-대출금계산기-실습용.ipynb
D:\파이썬\소스\20180912\3차시-데이터프레임.JPG
D:\파이썬\소스\20180912\3차시-원리금균등분할상환공식.JPG
D:\파이썬\소스\20180912\3차시-이름.xlsx
D:\파이썬\소스\20180912\3차시-회차별대출금.xlsx
D:\파이썬\소스\20180912\3차시\.ipynb_checkpoints-3차시-대출금계산기-checkpoint.ipynb
D:\파이썬\소스\20180912\3차시\.ipynb_checkpoints-3차시-대출금계산기-실습용-checkpoint.ipynb
D:\파이썬\소스\20180912\4차시-4차시-취득세계산기-실습용.ipynb
D:\파이썬\소스\20180912\4차시-DTI계산공식.JPG
D:\파이썬\소스\20180912\4차시-주택취득세.JPG
D:\파이썬\소스\20180912\4차시-주택취득세.xlsx
D:\파이썬\소스\20180912\4차시-주택취득세율.xlsx
D:\파이썬\소스\20180912\4차시\.ipynb_checkpoints-4차시-취득세계산기-실습용-checkpoint.ipynb
D:\파이썬\소스\20180912\5차시-5차시-DTI계산기-실습용.ipynb
D:\파이썬\소스\20180912\5차시-DTI계산공식.JPG
D:\파이썬\소스\20180912\5차시\.ipynb_checkpoints-5차시-DTI계산기-실습용-checkpoint.ipynb
D:\파이썬\소스\20180912\7차시-7차시-고객정보 파일 관리.ipynb
D:\파이썬\소스\20180912\7차시-고객정보_광주시.xlsx
D:\파이썬\소스\20180912\7차시-고객정보_대구시.xlsx
D:\파이썬\소스\20180912\7차시-고객정보_대전시.xlsx
D:\파이썬\소스\20180912\7차시-고객정보_부산시.xlsx
D:\파이썬\소스\20180912\7차시-고객정보_서울시.xlsx
D:\파이썬\소스\20180912\7차시-고객정보_인천시.xlsx
D:\파이썬\소스\20180912\7차시-고객정보_제주시.xlsx
D:\파이썬\소스\20180912\7차시-고객정보_통합.xlsx
D:\파이썬\소스\20180912\7차시\.ipynb_checkpoints-7차시-고객정보 파일 관리-checkpoint.ipynb
D:\파이썬\소스\20180912\참고-엑셀파일쓰기.ipynb
D:\파이썬\소스\20180912\참고\.ipynb_checkpoints-엑셀파일쓰기-checkpoint.ipynb

#### 고객정보 파일 검색

In [6]:
고객정보_파일명 = '고객정보.xlsx'
파일디렉토리 = ''

In [7]:
for 경로명, 디렉토리목록, 파일목록 in os.walk(현재디렉토리):
    for 파일명 in 파일목록:
        if 파일명 == 고객정보_파일명:
            파일디렉토리 = 경로명
            print(경로명 + '-' + 파일명)

D:\파이썬\소스\20180912\데이터-고객정보.xlsx

---

### 1.3 검색된 파일 복사

#### 고객정보 파일 복사

In [8]:
파일디렉토리

'D:\\파이썬\\소스\\20180912\\데이터'

In [9]:
디렉토리_파일명 = os.path.join(파일디렉토리, 고객정보_파일명)
디렉토리_파일명

'D:\\파이썬\\소스\\20180912\\데이터\\고객정보.xlsx'

In [10]:
복사디렉토리_파일명 = os.path.join(현재디렉토리, '6차시', '고객정보_복사본.xlsx')

In [11]:
복사디렉토리_파일명

'D:\\파이썬\\소스\\20180912\\6차시\\고객정보_복사본.xlsx'

In [12]:
import shutil

In [13]:
shutil.copy2(디렉토리_파일명, 복사디렉토리_파일명)

'D:\\파이썬\\소스\\20180912\\6차시\\고객정보_복사본.xlsx'

---

## 2. 고객정보 검색

In [14]:
import pandas as pd

In [15]:
디렉토리_파일명

'D:\\파이썬\\소스\\20180912\\데이터\\고객정보.xlsx'

In [16]:
고객정보 = pd.read_excel(디렉토리_파일명)

In [17]:
고객정보

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
0,C001,제우스,Zeus,010-1111-2222,zeus@abc.com,서울시 양천구 목동 12-3,1965-02-03,1000000,10000000,2015-05-01
1,C002,헤라,Hera,010-2222-3333,hera@bcd.com,서울시 강남구 역삼동 13-4,1974-09-23,1500000,9000000,2016-08-24
2,C003,데메테르,Demeter,010-3333-4444,demeter@def.cc.com,서울시 송파구 잠실동 15-5,1978-12-20,2000000,8000000,2018-06-02
3,C004,디오니소스,Dionysos,010-4444-5555,dionysos@efg.com,서울시 성북구 성북동 22-1,1972-05-30,2500000,7000000,2017-12-23
4,C005,아레스,Ares,010-5555-6666,ares@fgh.com,서울시 강동구 상일동 10-3,1988-03-09,3000000,6000000,2015-09-07
5,C006,아르테미스,Artemis,010-6666-7777,artemis@ghi.com,서울시 강서구 방화동 29-7,1970-12-01,3500000,5000000,2016-01-06
6,C007,아테나,Athena,010-7777-8888,athena@hij.com,인천시 남구 도화동 36-9,1990-07-12,4000000,4000000,2018-05-08
7,C008,아폴론,Apollon,010-8888-9999,apollon@ijk.com,대전시 중구 은행동 34-5,1982-06-12,4500000,3000000,2018-02-24
8,C009,아프로디테,Aphrodite,010-9999-1010,aphrodite@jkl.com,부산시 부산진구 양정동 59-7,1991-04-07,5000000,2000000,2017-11-21
9,C010,포세이돈,Poseidon,010-1010-2020,poseidon@klm.com,대구시 수성구 범어동 78-2,1987-01-18,5500000,1000000,2016-03-11
10,C011,헤르메스,Hermes,010-2020-3030,hermes@lmn.com,광주시 남구 월산동 23-5,1995-09-07,6000000,500000,2015-04-11
11,C012,헤파이스토스,Hephaistos,010-3030-4040,hephaistos@mno.com,제주시 용강동 11-1,1966-08-03,6500000,300000,2016-10-05

---

### 2.1 문자열을 이용한 고객정보 검색

#### startswith 함수

In [18]:
고객정보[고객정보.성명.str.startswith('아')]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
4,C005,아레스,Ares,010-5555-6666,ares@fgh.com,서울시 강동구 상일동 10-3,1988-03-09,3000000,6000000,2015-09-07
5,C006,아르테미스,Artemis,010-6666-7777,artemis@ghi.com,서울시 강서구 방화동 29-7,1970-12-01,3500000,5000000,2016-01-06
6,C007,아테나,Athena,010-7777-8888,athena@hij.com,인천시 남구 도화동 36-9,1990-07-12,4000000,4000000,2018-05-08
7,C008,아폴론,Apollon,010-8888-9999,apollon@ijk.com,대전시 중구 은행동 34-5,1982-06-12,4500000,3000000,2018-02-24
8,C009,아프로디테,Aphrodite,010-9999-1010,aphrodite@jkl.com,부산시 부산진구 양정동 59-7,1991-04-07,5000000,2000000,2017-11-21

#### endswith 함수

In [19]:
고객정보[고객정보.성명.str.endswith('스')]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
0,C001,제우스,Zeus,010-1111-2222,zeus@abc.com,서울시 양천구 목동 12-3,1965-02-03,1000000,10000000,2015-05-01
3,C004,디오니소스,Dionysos,010-4444-5555,dionysos@efg.com,서울시 성북구 성북동 22-1,1972-05-30,2500000,7000000,2017-12-23
4,C005,아레스,Ares,010-5555-6666,ares@fgh.com,서울시 강동구 상일동 10-3,1988-03-09,3000000,6000000,2015-09-07
5,C006,아르테미스,Artemis,010-6666-7777,artemis@ghi.com,서울시 강서구 방화동 29-7,1970-12-01,3500000,5000000,2016-01-06
10,C011,헤르메스,Hermes,010-2020-3030,hermes@lmn.com,광주시 남구 월산동 23-5,1995-09-07,6000000,500000,2015-04-11
11,C012,헤파이스토스,Hephaistos,010-3030-4040,hephaistos@mno.com,제주시 용강동 11-1,1966-08-03,6500000,300000,2016-10-05

#### contains 함수

In [20]:
고객정보[고객정보.주소.str.contains('잠실')]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
2,C003,데메테르,Demeter,010-3333-4444,demeter@def.cc.com,서울시 송파구 잠실동 15-5,1978-12-20,2000000,8000000,2018-06-02

---

### 2.2 숫자를 이용한 고객정보 검색

#### 대출잔액 500000이하인 고객정보 검색

In [21]:
고객정보[고객정보.대출잔액 <= 500000]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
10,C011,헤르메스,Hermes,010-2020-3030,hermes@lmn.com,광주시 남구 월산동 23-5,1995-09-07,6000000,500000,2015-04-11
11,C012,헤파이스토스,Hephaistos,010-3030-4040,hephaistos@mno.com,제주시 용강동 11-1,1966-08-03,6500000,300000,2016-10-05

#### 예금잔액 2000000 이상인 고객정보 검색

In [22]:
고객정보[고객정보.예금잔액 <= 2000000]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
0,C001,제우스,Zeus,010-1111-2222,zeus@abc.com,서울시 양천구 목동 12-3,1965-02-03,1000000,10000000,2015-05-01
1,C002,헤라,Hera,010-2222-3333,hera@bcd.com,서울시 강남구 역삼동 13-4,1974-09-23,1500000,9000000,2016-08-24
2,C003,데메테르,Demeter,010-3333-4444,demeter@def.cc.com,서울시 송파구 잠실동 15-5,1978-12-20,2000000,8000000,2018-06-02

#### 예금잔액 6000000 이상이고 대출잔액이 300000 이하인 고객정보 검색

In [23]:
고객정보[(고객정보.예금잔액 >= 6000000) & (고객정보.대출잔액 <= 300000)]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
11,C012,헤파이스토스,Hephaistos,010-3030-4040,hephaistos@mno.com,제주시 용강동 11-1,1966-08-03,6500000,300000,2016-10-05

#### 예금잔액의 합계 계산

In [24]:
고객정보.예금잔액.sum()

45000000

#### 대출잔액의 평균 계산

In [25]:
고객정보.대출잔액.mean()

4650000.0

---

### 2.3 날짜를 이용한 고객정보 검색

#### datetime 패키지 import

In [26]:
from datetime import datetime

#### 오늘날짜 구하기

In [27]:
오늘날짜 = datetime.now()

In [28]:
오늘날짜

datetime.datetime(2018, 9, 13, 21, 17, 37, 959910)

In [29]:
오늘_년 = 오늘날짜.year
오늘_년

2018

In [30]:
오늘_월 = 오늘날짜.month
오늘_월

9

In [31]:
오늘_일 = 오늘날짜.day
오늘_일

13

In [32]:
오늘_요일 = 오늘날짜.weekday()
오늘_요일

3

In [33]:
요일목록 = {0:'월요일', 1:'화요일', 2:'수요일', 3:'목요일', 4:'금요일', 5:'토요일', 6:'일요일'}

In [35]:
요일목록[3]

'목요일'

In [36]:
요일목록[오늘_요일]

'목요일'

#### 생일이 지나지 않은 고객 검색

In [37]:
고객정보.생일.dt.month

0      2
1      9
2     12
3      5
4      3
5     12
6      7
7      6
8      4
9      1
10     9
11     8
Name: 생일, dtype: int64

In [38]:
고객정보.생일.dt.day

0      3
1     23
2     20
3     30
4      9
5      1
6     12
7     12
8      7
9     18
10     7
11     3
Name: 생일, dtype: int64

In [39]:
고객정보[(고객정보.생일.dt.month >= 오늘_월) & (고객정보.생일.dt.day >= 오늘_일)]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
1,C002,헤라,Hera,010-2222-3333,hera@bcd.com,서울시 강남구 역삼동 13-4,1974-09-23,1500000,9000000,2016-08-24
2,C003,데메테르,Demeter,010-3333-4444,demeter@def.cc.com,서울시 송파구 잠실동 15-5,1978-12-20,2000000,8000000,2018-06-02

---

### 2.4 timedelta 패키지  및 relativedelta 패키지

- timedelta 패키지는 날짜(시간)차이를 계산하기 위한 패키지
- 일년차이 = timedelta(days = 365) 형태로 저장하여 사용
- 오늘날짜에 timedelta 변수를 빼거나 더해서 과거나 미래날짜를 계산함
- 일년전 날짜는 '오늘날짜 - 일년차이'로 계산하고, 일년후 날짜는 '오늘날짜 + 일년차이' 로 계산함

#### 등록일이 1년이 경과하지 않은 고객 검색

In [40]:
from datetime import timedelta

In [43]:
일년차이 = timedelta(days = 365)

In [44]:
날짜_일년전 = 오늘날짜 - 일년차이
날짜_일년전

datetime.datetime(2017, 11, 17, 21, 17, 37, 959910)

In [45]:
고객정보[고객정보.등록일 > 날짜_일년전]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
2,C003,데메테르,Demeter,010-3333-4444,demeter@def.cc.com,서울시 송파구 잠실동 15-5,1978-12-20,2000000,8000000,2018-06-02
3,C004,디오니소스,Dionysos,010-4444-5555,dionysos@efg.com,서울시 성북구 성북동 22-1,1972-05-30,2500000,7000000,2017-12-23
6,C007,아테나,Athena,010-7777-8888,athena@hij.com,인천시 남구 도화동 36-9,1990-07-12,4000000,4000000,2018-05-08
7,C008,아폴론,Apollon,010-8888-9999,apollon@ijk.com,대전시 중구 은행동 34-5,1982-06-12,4500000,3000000,2018-02-24
8,C009,아프로디테,Aphrodite,010-9999-1010,aphrodite@jkl.com,부산시 부산진구 양정동 59-7,1991-04-07,5000000,2000000,2017-11-21

#### 등록일이 6개월이 경과하지 않은 고객 검색

In [46]:
from dateutil.relativedelta import relativedelta

In [47]:
육개월차이 = relativedelta(months = 6)

In [48]:
육개월차이

relativedelta(months=+6)

In [50]:
날짜_육개월전 = 오늘날짜 - 육개월차이

In [51]:
날짜_육개월전

datetime.datetime(2018, 3, 13, 21, 17, 37, 959910)

In [52]:
고객정보[고객정보.등록일 > 날짜_육개월전]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
2,C003,데메테르,Demeter,010-3333-4444,demeter@def.cc.com,서울시 송파구 잠실동 15-5,1978-12-20,2000000,8000000,2018-06-02
6,C007,아테나,Athena,010-7777-8888,athena@hij.com,인천시 남구 도화동 36-9,1990-07-12,4000000,4000000,2018-05-08